@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Poppins:wght@200;300&display=swap');

html, body {
    margin: 0;
    background: $bg-light-green;
    background: $main-gradient;

    font-family: 'Arima', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1 {
    color: $white;
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

p {
    color: $white;
    font-size: 1em;
    font-weight: 400;
}