@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Poppins:wght@200;300&display=swap');

html {
    background: $bg-light-green;
    background: $main-gradient;

    font-family: 'Arima', sans-serif;
}

h1 {
    color: $white;
    font-size: 3em;
    font-weight: 600;
}